# Yield Curve Analysis

Sources:
1. [PyQuant News](https://twitter.com/pyquantnews/status/1625120952290889728)

## Load Dependencies

In [10]:
# import libraries
import numpy as np 
import matplotlib.pyplot as plt 
import matplotlib.animation as animation

In [11]:
# import openbb and print version
from openbb_terminal.sdk import openbb

## Load Data from OpenBB

In [12]:
# set maturities
maturities = ['3m', '6m', '1y', '2y', '3y',
              '5y', '7y', '10y', '20y', '30y']
data = openbb.economy.treasury(
    instruments=['nominal'],
    maturities=maturities,
    start_date='1980-01-01'
)
data.columns = maturities

In [13]:
# preview data
data.head()

             3m  6m     1y     2y     3y     5y     7y    10y    20y    30y
TIME_PERIOD
1980-01-01  NaN NaN  12.06  11.50  10.88  10.74  10.77  10.80  10.65  10.60
1980-02-01  NaN NaN  13.92  13.42  12.84  12.60  12.53  12.41  12.21  12.13
1980-03-01  NaN NaN  15.82  14.88  14.05  13.47  13.00  12.75  12.49  12.34
1980-04-01  NaN NaN  13.30  12.50  12.02  11.84  11.49  11.47  11.41  11.40
1980-05-01  NaN NaN   9.39   9.45   9.44   9.95  10.09  10.18  10.44  10.36

## Identify Inverted Yield Curve

An inverted yield curve occurs when yields on longer term maturities drop below those of shorter term debt.

In [14]:
# identify inverted yield curves
data['inverted'] = data['30y'] < data['3m']