# Yield Curve Analysis

Sources:
1. [PyQuant News](https://twitter.com/pyquantnews/status/1625120952290889728)

## Load Dependencies

In [10]:
# import libraries
import numpy as np 
import matplotlib.pyplot as plt 
import matplotlib.animation as animation

In [11]:
# import openbb and print version
from openbb_terminal.sdk import openbb

## Load Data from OpenBB

In [29]:
# set maturities
maturities = ['1m', '3m', '6m', '1y', '2y', '3y', '5y', '7y', '10y', '20y', '30y']
data = openbb.economy.treasury(
    instruments=['nominal'],
    maturities=maturities,
    start_date='1980-01-01'
)
data.columns = maturities

In [30]:
# preview data
data.head()

,1m,3m,6m,1y,2y,3y,5y,7y,10y,20y,30y
TIME_PERIOD,,,,,,,,,,,
1980-01-01,NaN,NaN,NaN,12.06,11.50,10.88,10.74,10.77,10.80,10.65,10.60
1980-02-01,NaN,NaN,NaN,13.92,13.42,12.84,12.60,12.53,12.41,12.21,12.13
1980-03-01,NaN,NaN,NaN,15.82,14.88,14.05,13.47,13.00,12.75,12.49,12.34
1980-04-01,NaN,NaN,NaN,13.30,12.50,12.02,11.84,11.49,11.47,11.41,11.40
1980-05-01,NaN,NaN,NaN,9.39,9.45,9.44,9.95,10.09,10.18,10.44,10.36

## Identify Inverted Yield Curve

An inverted yield curve occurs when yields on longer term maturities drop below those of shorter term debt.

In [31]:
# identify inverted yield curves
data['inverted'] = data['30y'] < data['3m']

In [36]:
data.reset_index()

,TIME_PERIOD,1m,3m,6m,1y,2y,3y,5y,7y,10y,20y,30y,inverted
0,1980-01-01,NaN,NaN,NaN,12.06,11.50,10.88,10.74,10.77,10.80,10.65,10.60,False
1,1980-02-01,NaN,NaN,NaN,13.92,13.42,12.84,12.60,12.53,12.41,12.21,12.13,False
2,1980-03-01,NaN,NaN,NaN,15.82,14.88,14.05,13.47,13.00,12.75,12.49,12.34,False
3,1980-04-01,NaN,NaN,NaN,13.30,12.50,12.02,11.84,11.49,11.47,11.41,11.40,False
4,1980-05-01,NaN,NaN,NaN,9.39,9.45,9.44,9.95,10.09,10.18,10.44,10.36,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,2022-10-01,3.32,3.87,4.31,4.43,4.38,4.38,4.18,4.09,3.98,4.28,4.04,False
514,2022-11-01,3.87,4.32,4.61,4.73,4.50,4.34,4.06,3.99,3.89,4.22,4.00,True
515,2022-12-01,3.90,4.36,4.71,4.68,4.29,4.05,3.76,3.72,3.62,3.87,3.66,True
516,2023-01-01,4.52,4.69,4.80,4.69,4.21,3.91,3.64,3.59,3.53,3.81,3.66,True
517,2023-02-01,4.64,4.79,4.97,4.93,4.53,4.23,3.94,3.86,3.75,3.95,3.80,True